
/*--------------------------------------------------------------
# Cards Deck Container
--------------------------------------------------------------*/
.card-deck{
	width: 100%;
	margin-top:20px;
	margin-bottom:20px ;

}

.card-deck-header{
	text-align: center;
}

.card-deck-header-title{
	font-family:Gloss-and-Bloom;
	font-size: 28px;
	text-align: center;
	padding-top: 20px;
}

.card-container{
	display:flex;
	flex-wrap:wrap;
	position: relative;
	justify-content: space-evenly;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	list-style: none;
}

/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/
.card-wrapper{
	position: relative;
	width: 300px;
	height: 520px;
	background-color: black;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;

	-webkit-box-shadow: 3px 10px 69px -24px rgba(36,32,36,1);
	-moz-box-shadow: 3px 10px 69px -24px rgba(36,32,36,1);
	box-shadow: 3px 10px 69px -24px rgba(36,32,36,1);

	display: block;
	overflow: hidden;
}

/*hover animation*/
.card-wrapper:after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -5px;
    background-color: pink;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.card-wrapper:hover:after{
    width: 100%;
    background-color: pink;
}

.card-wrapper img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.card-wrapper .card-header{
	position: absolute;
	color:white;
}

.card-header .card-header-category{
	margin: 5px 5px 5px 5px;
	padding: 5px 10px 2px 10px;
	/*background-color: black;*/
	font-family: "Gloss-and-Bloom";
	/*border: 2px solid #fff;*/
	/*border-radius: 25px;*/

	text-align: center;

	outline: none;
	background-color: black; /* fallback */
  background-color: rgba(0, 0, 0, 0.4);
  border-color: black; /* fallback */
  border-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

.card-header-category .category-title{

}
.card-wrapper .card-content{
	bottom:0;
	position: absolute;
	color:black;
	background-color:white;
	width: 100%;
	text-align: center;
	height: 20%;
	padding: 5px;

	display: flex;
	flex-direction: column;
	justify-content: center;

}


.card-content .card-content-title{
	font-size: 18px;
	font-weight:300;
	font-family: 'Crimson Text', serif;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 1em;
}

.card-content .card-content-excerpt{
	font-size: 14px;
	font-weight: lighter;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
	font-style: italic;
	padding-left: 12px;
	padding-right: 12px;
}

/*--------------------------------------------------------------
# Mobile
--------------------------------------------------------------*/
@media screen and (max-width: 600px) {

	.card-wrapper{
		width: 100%;
		height: 85vh;
		margin-left: 0;
		margin-right: 0;
		margin-top: 20px;
		margin-bottom: 20px;


		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.card-content .card-content-title{
		margin-top: 10px;
		/*font-size: 12px;*/
	}

	.card-content .card-content-excerpt{
		margin-top: 10px;
		/*font-size: 10px;*/
	}

}
