/*_typography.scss*/

html{
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
}

h1,h2,h3,h4,h5{
  font-family: $header-font-family;
  text-transform: uppercase;
}

strong{
  font-family: $loud-font-family;
}
