/*_variables.scss */
/* Body Text Styles */
$text-color: black;
$base-font-size: 16px;
$base-font-family: "Merriweather";
$alt-font-family: "Montserrat";
$base-font-weight: 400;
$medium-breakpoint: 1023px;
$small-breakpoint: 700px;
