/*_variables.scss */
/* Body Text Styles */
$text-color: black;
$base-font-size: 16px;
$base-font-family: "Montserrat";
$alt-font-family: "Merriweather";
$loud-font-family: "MontserratBlack";
$header-font-family: "MontserratBlack";
$base-font-weight: 400;
$medium-breakpoint: 1081px;
$small-breakpoint: 600px;
