html{
    margin: 0 !important;
}

.w-25{
    width: 25%;
}

.current-menu-item,.current_page_item{
    color: black !important;
    font-weight: bolder !important;
    border-bottom: 2px solid black !important;

}

.post-grid{
    display: grid;
    grid-gap: 42px;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;

    .item {
        color: black;
        display: flex;           
        flex-wrap: wrap; 
        &:hover{
            background-color: #e7e7e7;
        }

        .post-grid-image{
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 200px;
        }   

        

        .post-grid-content{
            display: inline-block;
            //flex-wrap: wrap;
            
            .title{
                width: 100%;
                padding: 12px;
                font-size: 28px;
                font-weight: bold;
                font-family: 'Fjalla One', sans-serif;

                a,a:visited,a:hover{
                    text-decoration: none;
                    color: black;

                }

                @media (max-width: 1200px){
                    padding-left: 0;
                }
            }

            .post-grid-meta{
                color: black;
                font-size: 10px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                opacity: 40%;
                padding: 0 12px 12px 12px;
                font-family: 'Fjalla One', sans-serif;

                @media (max-width: 1200px){
                    padding-left: 0;
                }
                .category{
                    margin-right: 8px;
                    background-color: black;
                    color: white;
                    padding: 2.5px 5px;
                }
                .author{
                    margin-right: 8px;
                    display: flex;
                    align-items: center;
                    i{
                        margin-right: 3px;
                    }
                }
                .date{
                    margin-right: 8px;
                    display: flex;
                    align-items: center;
                    i{
                        margin-right: 3px;
                    }
                }
                
            }

            .excerpt{
                width: 100%;
                padding: 0px 12px 12px 12px;
                font-size: 14px;
                text-align: justify;
                @media (max-width: 1200px){
                    padding-left: 0;
                }
            }

            .read-more-wrapper{
                display: flex;
                align-items: flex-end;
                padding: 0px 12px;
                @media (max-width: 1200px){
                    padding-left: 0;
                }
                
                .button{
                    font-size: 12px;
                }
            }

          
        }
    }


    
    @media (min-width: 1200px){

        grid-template-columns: repeat(3, [col] 30% ) ;
        grid-template-rows: repeat(10, [row] 250px  );

       

      .item-0 {
        grid-column: col / span 3;
        grid-row: row / span 2 ;

        .post-grid-image{
            width:75%;
            height: 100%;
        }
        .post-grid-content{
            width: 25%;
            height: 100%;

            .title{
                font-size: 32px;
            }

             .excerpt{
                font-size: 16px;
            }

        }
      }

      .item-1 {
        grid-column: col 1 / span 1 ;
        grid-row: row 3 / span 2 ;

        .post-grid-image{
            width: 100%;
            height: 50%;
        }
        .post-grid-content{
            width: 100%;
            height: 50%;
        }
      }

      .item-2 {
        grid-column: col 2 / span 1;
        grid-row: row 3 / span 1;

        .post-grid-image{
            display: none;
        }

        .post-grid-content{
            width: 100%;
            height: 100%;
            border-left: 1px solid black;

            .title{
                font-size: 20px;
            }

             .excerpt{
                font-size: 12px;
            }
        }
      }
      .item-3 {
        grid-column: col 3 / span 1 ;
        grid-row: row 3 / span 1 ;

        .post-grid-image{
            display: none;
        }

        .post-grid-content{
            width: 100%;
            height: 100%;
            border-left: 1px solid black;

            .title{
                font-size: 20px;
            }

             .excerpt{
                font-size: 12px;
            }
        }
      }
    
      .item-4 {
        grid-column: col / span 1;
        grid-row: row 5;

        .post-grid-image{
            display: none;
        }

        .post-grid-content{
            width: 100%;
            height: 100%;
            border-left: 1px solid black;

            .title{
                font-size: 20px;
            }
             .excerpt{
                font-size: 12px;
            }
        }
      }

      .item-5 {
        grid-column: col 2 / span 2;
        grid-row: row 4 / span 2;

        .post-grid-image{
            width: 70%;
            height: 100%;
        }
        .post-grid-content{
            width: 30%;
            height: 100%;

            .title{
                font-size: 32px;
            }

             .excerpt{
                font-size: 16px;
            }
        }
      }

      .item-6 {
        grid-column: col 1 / span 1;
        grid-row: row 6 / span 2;

        .post-grid-image{
            width: 100%;
            height: 50%;
        }
        .post-grid-content{
            width: 100%;
            height: 50%;
        }
      }

      .item-7 {
        grid-column: col 2 / span 1;
        grid-row: row 6;

        .post-grid-image{
            display: none;
        }

        .post-grid-content{
            width: 100%;
            height: 100%;
            border-left: 1px solid black;

            .title{
                font-size: 20px;
            }

             .excerpt{
                font-size: 12px;
            }
      
        }
      }

      .item-8 {
        grid-column: col 3 / span 1;
        grid-row: row 6 / span 2;

        .post-grid-image{
            width: 100%;
            height: 50%;
        }
        .post-grid-content{
            width: 100%;
            height: 50%;
        }
      }

      .item-9 {
        grid-column: col 1 / span 2;
        grid-row: row 8 / span 2;

        .post-grid-image{
            width: 60%;
            height: 100%;
        }
        .post-grid-content{
            width: 40%;
            height: 100%;

            .title{
                font-size: 32px;
            }

             .excerpt{
                font-size: 16px;
            }
        }
      }

   

      .item-10{
        grid-column: col 3 / span 1;
        grid-row: row 8 / span 2;

        .post-grid-image{
            width: 100%;
            height: 50%;
        }
        .post-grid-content{
            width: 100%;
            height: 50%;
        }
      }

      .item-11 {
        grid-column: col 3 / span 1;
        grid-row: row 10 / span 1;

        .post-grid-image{
            display: none;
        }

        .post-grid-content{
            width: 100%;
            height: 100%;
            border-left: 1px solid black;

            .title{
                font-size: 20px;
            }
             .excerpt{
                font-size: 12px;
            }
        }
      }

      .item-12 {
        grid-column: col 1 / span 1;
        grid-row: row 10 / span 1;

        .post-grid-image{
            display: none;
        }

        .post-grid-content{
            width: 100%;
            height: 100%;
            border-left: 1px solid black;

            .title{
                font-size: 20px;
            }
             .excerpt{
                font-size: 12px;
            }
        }
      }

      .item-13 {
        grid-column: col 2 / span 1;
        grid-row: row 10 / span 1;

        .post-grid-image{
            display: none;
        }

        .post-grid-content{
            width: 100%;
            height: 100%;
            border-left: 1px solid black;

            .title{
                font-size: 20px;
            }
             .excerpt{
                font-size: 12px;
            }
        }
      }

      .item-14 {
       
        grid-column: col 2 / span 1;
        grid-row: row 7 / span 1;

        .post-grid-image{
            display: none;
        }

        .post-grid-content{
            width: 100%;
            height: 100%;
            border-left: 1px solid black;

            .title{
                font-size: 20px;
            }
             .excerpt{
                font-size: 12px;
            }
        }
      }

 

    }
    
}

.cta-banner{
    margin-top: 24px;
    padding: 24px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: 'Fjalla One', sans-serif;

    @media (max-width: 1200px) {
        padding: 0;
    }

    a.button{
        color: white;
    }
    a,a:visited,a:hover,span{
        font-size: 24px;
        color: black;
        font-weight: bold;
    }
}

