html{
    margin: 0 !important;
}

.w-25{
    width: 25%;
}


.post-grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, [col] auto ) ;
    grid-template-rows: repeat(10, [row] 200px  );
    background-color: #fff;
    color: #444;

    .item {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
    
      }

      .item-0 {
        grid-column: col / span 2;
        grid-row: row / span 2 ;
      }
      .item-1 {
        grid-column: col 3 / span 1 ;
        grid-row: row / span 3 ;
      }
      .item-2 {
        grid-column: col / span 1 ;
        grid-row: row 3 / span 2 ;
      }
      .item-3 {
        grid-column: col 2 / span 1 ;
        grid-row: row 3 / span 1 ;
      }
    
      .item-4 {
        grid-column: col 2 / span 1;
        grid-row: row 4 / span 1;
      }

      .item-5 {
        grid-column: col / span 1;
        grid-row: row 5;
      }

      .item-6 {
        grid-column: col 2 / span 1;
        grid-row: row 5 / span 2;
      }

      .item-7 {
        grid-column: col 3 / span 1;
        grid-row: row 5 / span 2;
      }

      .item-8 {
        grid-column: col / span 1;
        grid-row: row 6;
      }

      .item-9 {
        grid-column: col / span 3;
        grid-row: row 10;
      }

      .item-10{
          background-color: red;
        grid-column: col 3 / span 1;
        grid-row: row 4;
      }
    
}

