body{
  padding-left: 42px;
  padding-right: 42px;

  background-color: #ebebeb;
  margin: 0;

  @media (max-width: 550px){
    padding-left: 12px;
    padding-right: 12px;
  }
}

#front-banner{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  border-bottom: 2px solid #bdbbbb;

      list-style: none;
      text-decoration: none;
      padding: 0;

      &:first-child{
          color: black;
      }
      li{
          margin: 0;
          font-size: 16px;
          font-weight: bold;
          color: gray;
          padding: 24px 48px;
          text-transform: uppercase;

          
  
          a,a:visited,a:hover{
              color: gray;
              text-decoration: none;
          }

  @media (max-width: 550px){
    font-size: 10px;
          padding: 10px 20px;
  }


      }
  

}

#navigation{
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  #menu{
    width: 10%;

    i{
      color: black;
    }
  }

  #title{
    color: black;
    width: 100%;
    text-align: center;
    font-weight: bolder;
  }

  #links{
    width: 15%;
    text-align: right;

  }
 
}


.button{
  font-size: 18px;
  width: auto;
  padding: 12px 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
}

#content{
  width: 100%;
}

#main{
  width: 800px;
  margin: 0 auto;
  @media (max-width: 500px){
    width: 100%;
  }
}
.content-area{

  width: 100%;
}


article{
  width: 100%;
}

.page-title{
  text-align: center;
}