body{
  padding-left: 48px;
  padding-right: 48px;

}

#navigation{
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 32px;
  padding-bottom: 48px;
  #menu{
    width: 10%;

    i{
      color: black;
    }
  }

  #title{
    color: black;
    width: 75%;
    text-align: center;
    font-weight: bold;
  }

  #links{
    width: 15%;
  }
 
}


.button{
  font-size: 24px;
  width: auto;
  padding: 18px 32px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  color: white;
}