body{
  padding-left: 42px;
  padding-right: 42px;

  background-color: #ebebeb;
  margin: 0;

  @media (max-width: 550px){
    padding-left: 12px;
    padding-right: 12px;
  }
}

#navigation{
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  #menu{
    width: 10%;

    i{
      color: black;
    }
  }

  #title{
    color: black;
    width: 100%;
    text-align: center;
    font-weight: bolder;
  }

  #links{
    width: 15%;
    text-align: right;

  }
 
}


.button{
  font-size: 18px;
  width: auto;
  padding: 12px 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
}

#content,
#main{
  width: 100%;
  display: flex;
    justify-content: center;
}

.content-area{

  width: 100%;
}


article{
  width: 800px;

  @media (max-width: 500px){
    width: 100%;
  }
}